version: 2
jobs:
  build:
    docker:
      - image: circleci/openjdk:8-jdk

    working_directory: ~/repo

    environment:
      JVM_OPTS: -Xmx3200m
      TERM: dumb

    steps:
      - checkout

      - attach_workspace:
          at: ~/repo

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "build.gradle" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run: gradle dependencies

      - save_cache:
          paths:
            - ~/.gradle
          key: v1-dependencies-{{ checksum "build.gradle" }}

      - run:
          name: Build
          command: bash ./scripts/circleci/build.sh

      - run:
          name: Save test results
          command: bash ./scripts/circleci/save-test-results.sh
          when: always

      - store_test_results:
          path: ~/junit

      - store_artifacts:
          path: ~/junit

      - store_artifacts:
          path: ~/repo/build/libs/com.metlife.provider-1.0.0.jar

      - persist_to_workspace:
          root: .
          paths: .

  integration_tests:
    docker:
      # specify the version you desire here
      - image: circleci/openjdk:8-jdk

    working_directory: ~/repo

    environment:
      JVM_OPTS: -Xmx3200m
      TERM: dumb

    steps:
      - attach_workspace:
          at: ~/repo

      - run:
          name: Run Integration Tests
          command: gradle integrationTests

      - run:
          name: Save test results
          command: bash ./scripts/circleci/save-test-results.sh
          when: always

      - store_test_results:
          path: ~/junit

      - store_artifacts:
          path: ~/junit

  contract_tests:
    docker:
      # specify the version you desire here
      - image: circleci/openjdk:8-jdk

    working_directory: ~/repo

    environment:
      # Customize the JVM maximum heap limit
      JVM_OPTS: -Xmx3200m
      TERM: dumb

    steps:
      - attach_workspace:
          at: ~/repo

      - run:
          name: Run Contract Tests
          command: gradle contractTests

      - run:
          name: Save test results
          command: bash ./scripts/circleci/save-test-results.sh
          when: always

      - store_test_results:
          path: ~/junit

      - store_artifacts:
          path: ~/junit

  publish_docker:
    docker:
      - image: google/cloud-sdk

    working_directory: ~/repo

    environment:
      TERM: dumb

    steps:
      - attach_workspace:
          at: ~/repo

      - setup_remote_docker:
          docker_layer_caching: true

      - run:
          name: Setup gcloud account
          command: bash ./scripts/circleci/setup-gcloud-account.sh

      - run:
          name: Build and Publish
          command: bash ./scripts/circleci/publish.sh

  deploy_to_dev:
    docker:
      # specify the version you desire here
      - image: google/cloud-sdk

    working_directory: ~/repo

    environment:
      TERM: dumb

    steps:
      - attach_workspace:
          at: ~/repo

      - setup_remote_docker:
          docker_layer_caching: true

      - run:
          name: Setup gcloud account
          command: bash ./scripts/circleci/setup-gcloud-account.sh

      - run:
          name: Deploy to dev
          command: bash ./scripts/circleci/deploy.sh

  deploy_to_prod:
    docker:
      - image: google/cloud-sdk

    working_directory: ~/repo

    environment:
      TERM: dumb

    steps:
      - attach_workspace:
          at: ~/repo

      - setup_remote_docker:
          docker_layer_caching: true

      - run:
          name: Setup gcloud account
          command: bash ./scripts/circleci/setup-gcloud-account.sh

      - run:
          name: Deploy to prod
          command: bash ./scripts/circleci/deploy.sh

  smoke_test_dev:
    docker:
      - image: google/cloud-sdk

    working_directory: ~/repo

    environment:
      TERM: dumb

    steps:
      - attach_workspace:
          at: ~/repo

      - run:
          name: Setup gcloud account
          command: bash ./scripts/circleci/setup-gcloud-account.sh

      - run:
          name: Smoke test
          command: |
              apt-get install jq
              bash ./scripts/circleci/smoke-test.sh

  smoke_test_prod:
    docker:
      - image: google/cloud-sdk

    working_directory: ~/repo

    environment:
      TERM: dumb

    steps:
      - attach_workspace:
          at: ~/repo

      - run:
          name: Setup gcloud account
          command: bash ./scripts/circleci/setup-gcloud-account.sh

      - run:
          name: Smoke test
          command: |
              apt-get install jq
              bash ./scripts/circleci/smoke-test.sh

workflows:
  version: 2
  build_and_test:
    jobs:
      - build

      - publish_docker:
          requires:
            - build

      - integration_tests:
          requires:
            - publish_docker

      - contract_tests:
          requires:
            - publish_docker

      - deploy_to_dev:
          requires:
            - integration_tests
            - contract_tests

      - smoke_test_dev:
          requires:
            - deploy_to_dev

      - sign_off:
          type: approval
          requires:
            - smoke_test_dev

      - deploy_to_prod:
          requires:
            - sign_off

      - smoke_test_prod:
          requires:
            - deploy_to_prod