{"swagger":"2.0","info":{"description":"Api Documentation","version":"1.0","title":"Api Documentation","termsOfService":"urn:tos","contact":{},"license":{"name":"Apache 2.0","url":"http://www.apache.org/licenses/LICENSE-2.0"}},"host":"echo-api.endpoints.nahknarmi-190508.cloud.goog","basePath":"/","tags":[{"name":"quote-controller","description":"Quote Controller"},{"name":"endpoint-mvc-adapter","description":"Endpoint Mvc Adapter"},{"name":"greeting-controller","description":"Greeting Controller"},{"name":"health-mvc-endpoint","description":"Health Mvc Endpoint"}],"paths":{"/foo":{"get":{"tags":["greeting-controller"],"summary":"greetings","operationId":"greetingsUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Greeting"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/greeting":{"get":{"tags":["greeting-controller"],"summary":"greeting","operationId":"greetingUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"name","in":"query","description":"name","required":false,"type":"string","default":"World"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Greeting"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/health":{"get":{"tags":["health-mvc-endpoint"],"summary":"invoke","operationId":"invokeUsingGET_1","consumes":["application/json"],"produces":["application/vnd.spring-boot.actuator.v1+json","application/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/info":{"get":{"tags":["endpoint-mvc-adapter"],"summary":"invoke","operationId":"invokeUsingGET","consumes":["application/json"],"produces":["application/vnd.spring-boot.actuator.v1+json","application/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/kube":{"get":{"tags":["greeting-controller"],"summary":"kube","operationId":"kubeUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"string"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/quotes":{"get":{"tags":["quote-controller"],"summary":"quotes","operationId":"quotesUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Resources«QuoteResource»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["quote-controller"],"summary":"create","operationId":"createUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"quote","description":"quote","required":true,"schema":{"$ref":"#/definitions/Quote"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/toggle":{"get":{"tags":["greeting-controller"],"summary":"toggledFeature","operationId":"toggledFeatureUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"string"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}}},"definitions":{"Greeting":{"type":"object","properties":{"content":{"type":"string"},"id":{"type":"integer","format":"int64"}}},"Link":{"type":"object","properties":{"deprecation":{"type":"string"},"href":{"type":"string"},"hreflang":{"type":"string"},"media":{"type":"string"},"rel":{"type":"string"},"templated":{"type":"boolean"},"title":{"type":"string"},"type":{"type":"string"}}},"Quote":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"description":{"type":"string"}}},"QuoteResource":{"type":"object","properties":{"links":{"type":"array","items":{"$ref":"#/definitions/Link"}},"quote":{"$ref":"#/definitions/Quote"}}},"Resources«QuoteResource»":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/definitions/QuoteResource"}},"links":{"type":"array","items":{"$ref":"#/definitions/Link"}}}}}}
